altair==4.2.2
anyconfig==0.13.0
audio-recorder-streamlit==0.0.8
audiomentations==0.28.0
audioread==3.0.0
audiosegment==0.23.0
black==23.1.0
clearml==1.10.1
ffmpeg-python==0.2.0
julius==0.2.7
librosa==0.10.0
librosa==0.9.2
lightning==2.0.1
matplotlib==3.7.0
matplotlib==3.6.1
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
omegaconf==2.3.0
optuna==3.1.1
pandas==1.5.3
pathlib2==2.3.7.post1
PyYAML==6.0
resampy==0.4.2
scikit-learn==1.2.1
scipy==1.10.1
sounddevice==0.4.0
sounddevice==0.4.0
soundfile==0.12.1
soundfile==0.12.1
streamlit==1.19.0
tensorboard==2.12.2
toml==0.10.2
torch==2.0.0
torch==2.0.0
torchaudio==2.0.1
torchaudio==0.13.1
openai-whisper @ git+https://github.com/openai/whisper.git@c09a7ae299c4c34c5839a76380ae407e7d785914
torchmetrics==0.11.4
tqdm==4.64.1